<h2>Services discovered</h2>
Vault: <%= vault %> <br />
MySQL: <%= mysql %> <br />
Memcache: <%= memcache %> <br />

<h2> Credentials </h2>
MySQL Username: <%= mysqluser %>
MySQL Status:
<table>
<% ary.each do |elem| %>
  <tr>
    <td>
      <%= elem %>
    </td>
  </tr>
<% end %>
</table>
